{% extends 'base.html.twig' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de connexion</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/formulaire2.css"/>
    <script src="https://kit.fontawesome.com/1d84665ebe.js" crossorigin="anonymous"></script>
</head>

<div class="table">
    <div class="screen">
        <div class="screen__content">

            <form class="login" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus> }

                <label for="inputPassword">Password</label>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <label>
                        <input value="{{ last_username }}" type="text" class="login__input" placeholder="Pseudo / Email">
                    </label>
                </div>

                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <label>
                        <input type="password" class="login__input" placeholder="Mot de passe">
                    </label>
                </div>

                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required> }

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="button login__submit">
                    <a class="button__text">Connexion</a>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>


        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

{% endblock %}
